
/* [[Automatically resizing GIF picker]] */
:root {
    --expression-picker-aspect-ratio: 1.125 / 1;
}

[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
    height: calc(100vh - 128px);
}

[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
    max-height: 100%;
    bottom: 0px;
    height: auto;
    aspect-ratio: var(--expression-picker-aspect-ratio);
}

/* [[Move VC Hang Status To The Left]] */
[class*="iconGroup"]:has( [class*="hangStatusIcon"],
[d*="M13 3a1"],
[class*="gameIcon"]) {
    display: flex;
    position: absolute;
    right: 101%;
}

/* [[Hide chatbox if one doesn't have send message perms]] */
[class*="channelTextAreaDisabled"] {
    display: none !important;
}

[class*="channelTextAreaDisabled"] {
    opacity: 0 !important;
    position: absolute !important;
    height: 0px !important;
    width: 0px !important;
    z-index: 0 !important;
}

/* [[make the emoji picker custom emoji]] */
[aria-label="Select emoji"]::before {
    content: "";
    background-image: url("https://cdn.discordapp.com/emojis/701335132363030608.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20%;
    position: absolute;
    /* Adjust the width or height for the emoji */
    width: 24px;
    height: 24px;
    /* end */
    display: block;
    visibility: visible;
}

/* hide original emoji */
[aria-label="Select emoji"] {
    visibility: hidden;
}

/* [[cool channel highlights]] */
/* changes to the channel list for better usability */
/* squish channel height/spacing */
[class="link__2ea32"] {
    padding-block: 3px;
}

/* shrink all channel icons */
[class="iconContainer__2ea32"] > svg[role="img"] {
    scale: 0.8;
}

/* squeeze channel list left */
.wrapper__2ea32:not(.typeThread__2ea32) {
    margin-left: 0 !important;
}

.wrapper__29444 {
    padding-left: 8px !important;
}

/* fix threads "spine" */
.spineBorder__5b40b {
    bottom: 20px !important;
    left: 16px;
}

.containerDefault_c69b6d > svg {
    top: 5px;
    left: 16px;
}

.wrapper__2ea32.typeThread__2ea32 {
    margin-left: 28px;
}

/* make unread channel's icons brighter (because the unread indicator is now hidden)*/
.modeUnreadImportant__2ea32 .icon__2ea32,
.modeUnreadImportant__2ea32:hover .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32 {
    color: var(--interactive-active);
}

/* dim all category labels */
[class="mainContent__29444"] {
    opacity: 70%;
}

/* hide category dropdown arrows, instead dim label when collapsed */
[class="mainContent__29444"] > [class="icon__29444"] {
    display: none;
}

[class="mainContent__29444"][aria-expanded="false"] {
    opacity: 50% !important;
}

:root {
    --highlight-select: linear-gradient(-45deg, #9366e23d 60%, #deaecf3d);
    --highlight-icon: #deaecf;
}

/* channel outlines and highlighted icons */
#app-mount.containerDefault_c69b6d.selected_c69b6d.wrapper__2ea32.link__2ea32 {
    background: var(--highlight-select);
    border-radius: 12px;
    margin-left: 5px;
}

.icon__2ea32 {
    width: 18px;
    height: 18px;
}

[aria-label="Channels"] [class^="content"],
[class^="popout-"] [class^="row-"] {
    border-style: solid;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

[aria-label="Channels"] [class^="content"]:hover,
[class^="popout-"] [class^="row-"]:hover {
    border-color: var(--highlight-icon) !important;
}

.modeUnreadImportant__2ea32 .icon__2ea32,
#app-mount.containerDefault_c69b6d.selected_c69b6d.wrapper__2ea32.icon__2ea32,
#app-mount .containerDefault_c69b6d:hover .wrapper__2ea32 .icon__2ea32 {
    color: var(--highlight-icon) !important;
}

/* [[role pills]] */
.role__48c1c,
.role_dfa8b6 {
    --transparency: 0.4;
    --roles-roundness: 5px;
    transform: translate(0);
    overflow: hidden;
    border: 0;
    border-radius: var(--roles-roundness);
}

.role_dfa8b6 .roleRemoveIcon_dfa8b6 {
    left: 11px;
}

.role__48c1c .roleRemoveIcon__48c1c {
    left: 14px;
}

.role__48c1c:has(.roleFlowerStar__48c1c) .roleRemoveIcon__48c1c {
    left: 15px;
}

.role_dfa8b6 .roleRemoveButton_dfa8b6,
.role__48c1c .roleRemoveButton_dfa8b6 {
    position: static;
}

.role__48c1c .roleCircle__4f569:after,
.role__48c1c .roleFlowerStar__48c1c:after,
.role_dfa8b6 .roleCircle__4f569:after,
.role_dfa8b6 .roleFlowerStar_dfa8b6:after {
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: var(--roles-roundness);
    position: absolute;
    background: inherit;
    opacity: var(--transparency);
}

/* [[custom chat prompt]] */
.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017 {
    visibility: hidden;
}

.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017::before {
    visibility: visible;
    content: "fumo fumo";
}

/* [[yeet useless things]] */
/* Hide 'Explore Discoverable Servers' in server page */
.text_a2f514,
/* Remove loading quote */
[class^=threadSuggestionBar_],
/* Hide thread suggestion in reply */
[class^=nowPlayingColumn_],
/* No "Active now" tab */
button[aria-label="Open GIF picker"],
/* Hide GIF picker button */
button[aria-label="Open sticker picker"],
/* Hide sticker picker button */
[class^=bar__]:has([class^=voiceChannelsIcon__]),
/* Hide "x in vc" scroll indicator */
[aria-label="Help"],
/* Removes "Support" question mark button */
.divider_d2b491.divider_ae36e5/* Remove dividing line in profile */
{
    display: none !important;
}

/* Send a gift button (in profile & chat bar) */
button[aria-label="Send a gift"],
[class^=giftButtonContainer__],
/* Nitro tab */
[data-list-item-id*="___nitro"],
/* Store tab */
[data-list-item-id*="___shop"],
/* Store popup ads */
[id^=popout]:has([class^=buttonContainerVertical]),
/* Hide "Get Nitro" button in emoji info */
.ctaButton_d5cd2d.grow__201d5.fullWidth__201d5.sizeSmall__201d5.colorGreen__201d5.lookFilled__201d5.button__201d5.shinyButton_d5e126,
/* Hide "Get nitro" popup when clicking on custom emojj reaction without nitro */
[class^=premiumPromo_],
/* Hide "Get nitro" ad for too long message */
.upsell__795fb.root__6c5a1,
/* Server boost button */
#guild-header-popout > div > div:nth-child(1),
#guild-header-popout > div > div:nth-child(2),
/* Remove boost goal */
.containerWithMargin_eff079.container_eff079,
/* Store ad in profile settings */
.container__8279f,
/* "Try out nitro" ad in profile settings */
.tryItOutSection__9d295.featureBorder_fbfab6fbfab6fbfab6fbfab6c6d722.premiumFeatureBorder__65c15 {
    display: none !important;
}

/* [[better quickswitcher]] */
[class^="layer_"]:has([class^="quickswitcher_"]) {
    justify-content: start;
}

[class^="quickswitcher_"] {
    background: none;
    padding: 0;
}

[class^="quickswitcher_"] .scroller_ac6cb0 {
    margin: 0;
    border-radius: 0 0 8px 8px;
    scrollbar-width: none;
    padding: 8px !important;
}

[class^="quickswitcher_"] .input_ac6cb0 {
    height: 50px;
}

[class^="quickswitcher_"] .input_ac6cb0[value=""] {
    border-radius: 8px;
}

[class^="quickswitcher_"] .input_ac6cb0:not([value=""]) {
    border-radius: 8px 8px 0 0;
}

[class^="quickswitcher_"] .input_ac6cb0[value=""] + .scroller_ac6cb0,
[class^="quickswitcher_"] .protip_ac6cb0 {
    display: none;
}

.backdrop__1a911:has( + .layer_bc663c [class^="quickswitcher_"]) {
    opacity: 0;
}

/* [[tabs v2 icon]] */
svg:has( > [d="M19.73 4.87a18.2 18.2 0 0 0-4.6-1.44c-.21.4-.4.8-.58 1.21-1.69-.25-3.4-.25-5.1 0-.18-.41-.37-.82-.59-1.2-1.6.27-3.14.75-4.6 1.43A19.04 19.04 0 0 0 .96 17.7a18.43 18.43 0 0 0 5.63 2.87c.46-.62.86-1.28 1.2-1.98-.65-.25-1.29-.55-1.9-.92.17-.12.32-.24.47-.37 3.58 1.7 7.7 1.7 11.28 0l.46.37c-.6.36-1.25.67-1.9.92.35.7.75 1.35 1.2 1.98 2.03-.63 3.94-1.6 5.64-2.87.47-4.87-.78-9.09-3.3-12.83ZM8.3 15.12c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.89 2.27-2 2.27Zm7.4 0c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.88 2.27-2 2.27Z"]) path {
    d: path( "M7.516 16.7C7.8784 16.7 8.1694 16.3791 8.1838 16.0171 8.1906 15.8462 8.2 15.674 8.2 15.5 8.2 10.1984 11.7683 5.9 17.3338 5.9 19.3811 5.9 21.3254 6.6288 22.9281 7.6747 23.3211 7.9312 23.8106 7.6966 23.8014 7.2274 23.8005 7.1825 23.8 7.1398 23.8 7.1 23.8 1.8068 19.0527-2.5 13.219-2.5 7.3854-2.5 2.638 1.8068 2.638 7.1 2.638 8.59 3.0076 10.0228 3.7183 11.3276 3.9932 11.8323 3.9466 12.4664 3.5445 12.8769L1.7978 14.6604C1.0539 15.4198 1.592 16.7 2.6551 16.7H7.516ZM25.0161 18.9078C24.8039 18.5696 24.7806 18.1502 24.909 17.7722 25.1568 17.0422 25.2845 16.2741 25.2845 15.5 25.2845 11.5292 21.9897 8.3 17.9399 8.3 13.8903 8.3 10.5953 11.5292 10.5953 15.5 10.5953 19.4708 13.8903 22.7 17.9399 22.7H25.2258C26.1693 22.7 26.7437 21.6614 26.2424 20.8622L25.0161 18.9078Z") !important;
    transform: scale(0.8) translate(1px, 5px);
}

/* [[make toolbar icons collapsity]] */
[class="toolbar__9293f"]::before {
    content: "∙∙∙";
    /* Change this to anything you like [Default: ∙∙∙] */
    font-size: 110%;
    margin: 0 8px;
    color: var(--text-muted);
}

/* decrease width to hide everything but menu icon */
[class="toolbar__9293f"] {
    width: var(--bartender-width);
    /* Adjust this based on design requirements */
    /* If you pick a new icon, instead of "∙∙∙", you may need to adjust this value */
}

[class="toolbar__9293f"]:hover,
/* expand toobar on hover */
[class="toolbar__9293f"]:has(.open__97492,
.selected__9293f:not([aria-label="Hide Member List"]))/* keep the toolbar open if an item (e.g., search) is active */
{
    width: unset;
    /* Adjust the width to show the whole section if necessary [default: 21%] */
    /* If you pick a new marker, instead of "∙∙∙", you may need to adjust this value as well */
}

.searchBar__97492 {
    height: 30px !important;
    width: 30px;
    padding: 3px 5px;
    border-radius: 8px;
    cursor: pointer;
}

.icon__97492.iconLayout_fea832.small_fea832 {
    cursor: pointer;
    scale: 1.2;
}

/* [[hide apps thing]] */
button[aria-label="Apps"] {
    display: none;
}

.dot__148e9 .blurpleTreatment__148e9 .maskPrimary__148e9 { display: none; }

/* [[Remove Nitro tenure tooltip bloat]] */
[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) {
    padding: initial;
    & img,
    h1,
    h2,
    [class^="tooltipWordmarkContainer_"] {
        display: none;
    }

    & [class*="tooltipDescription_"] {
        color: inherit!important;
        font: inherit;
        margin: inherit;
    }
}

/* [[yeet the stupid top bar]] */
.visual-refresh {
    div[class^="base_"] { & > div[class^="bar_"] { display: none;
        }
    }

    ul[data-list-id="guildsnav"] > div[class^="itemsContainer_"] { margin-top: 6px;
    }
}

/* [[fix chatbox and userbox misalignment]] */
.container_c48ade { --custom-chat-input-margin-bottom: 10px;
}

:root { --custom-channel-textarea-text-area-height: 52px;
}

:root { --custom-app-top-bar-height: 0 !important;
}