{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="tw-mb-8 tw-px-8">
		<div class="center">
			<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
			<div class="hero">
				<h1 class="ui icon header title tw-text-balance">
					{{AppName}}
				</h1>
				<hP class="tw-text-balance">orangc's selfhosted instance of Gitea. Most of my GitHub repositories are mirrored from here.</hp>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}